<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samrezaie.android.starwarsv2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/resistance_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:replace="android:icon">
        <activity android:name="com.samrezaie.android.starwarsv2.MainActivity"
            android:label="Star Wars Database"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.samrezaie.android.starwarsv2.ListActivity"
            android:screenOrientation="locked"></activity>
        <activity android:name="com.samrezaie.android.starwarsv2.IndividualActivity"
            android:screenOrientation="locked"></activity>
    </application>

</manifest>